        @font-face {
            font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
        }
        
        body {
            color: rgb(29, 29, 31);
            width: fit-content;
        }
        
        a {
            text-decoration: none;
        }
        
        p {
            font-size: 25px;
        }
        
        a:visited {
            color: inherit;
            /* mismo color */
        }
        /* estilo del header */
        
        div.nav {
            background-color: rgba(0, 0, 0, 0.8);
            color: rgb(29, 29, 31);
            color: whitesmoke;
            height: 40px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            display: inline;
            vertical-align: middle;
        }
        
        li {
            list-style-type: none;
            display: inline;
            padding: 20px 40px;
            text-align: center;
        }
        /* estilo primero grupo imagen mac */
        
        div {
            vertical-align: middle;
            text-align: center;
            justify-content: center;
        }
        
        p.oferta {
            font-size: medium;
        }
        
        p.nuevo {
            color: tomato;
            font-size: medium;
        }
        
        h1 {
            font-size: 90px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        
        h4 {
            font-size: 30px;
        }
        
        a.comprar {
            background-color: rgb(0, 113, 227);
            border-color: transparent;
            margin: 10px;
            padding: 5px 15px;
            border-radius: 12px;
            color: whitesmoke;
            font-size: 25px;
        }
        
        div.grid-container {
            width: 1900px;
        }
        
        div.información {
            margin: 20px;
            margin-bottom: 70px;
            color: rgb(0, 113, 227);
            font-size: 25px;
        }
        
        img.imgmacbook {
            width: 1100px;
            height: auto;
        }
        /* estilo segundo grupo 2 imagenes */
        
        div.grid-container {
            margin-bottom: 100px;
        }
        
        div.container {
            background-color: rgb(242, 242, 242);
            width: 600px;
            height: 850px;
            margin-bottom: 100px;
            margin-top: 100px;
        }
        
        div.subcontainer {
            padding: 0px 70px;
        }
        
        #container1 {
            display: inline-block;
            margin-left: 100px;
        }
        
        h2 {
            padding-bottom: 10px;
            font-size: 60px;
        }
        
        #ver-button {
            background-color: rgb(0, 113, 227);
            border-color: transparent;
            margin: 10px;
            margin-bottom: 300px;
            padding: 5px 15px;
            border-radius: 12px;
            color: whitesmoke;
            font-size: 25px;
        }
        
        figure {
            display: block;
            overflow: hidden;
            width: 100%;
            margin: 0;
            box-sizing: content-box;
        }
        
        img.appletools {
            width: 130%;
            height: 300px;
            margin-top: 125px;
            display: block;
        }
        
        #container2 {
            display: inline-block;
            margin-right: 100px;
            margin-left: 10px;
        }
        
        div.subcontainer>p {
            font-size: 25px;
        }
        
        img.laptopcover {
            max-width: 100%;
            max-height: 270px;
            margin-top: 20px;
        }
        
        a>p {
            color: rgb(0, 113, 227);
        }
        /* estilo lultimo grupo entrega */
        
        div.entrega {
            margin-top: 100px;
            margin-bottom: 90px;
            float: none;
            clear: both;
        }
        
        img.box {
            width: 50px;
            height: 50px;
        }
        /* estilo footer*/
        
        footer {
            background-color: rgb(245, 245, 247);
            color: rgb(81, 81, 84);
            width: auto;
            height: 100px;
        }
        
        p.footer {
            text-align: left;
            padding-left: 225px;
            padding-top: 30px;
            margin-bottom: 20px;
        }
        
        a.info {
            color: rgb(0, 113, 227);
            font-size: 25px;
        }
        
        ul.nav-footer {
            margin-left: 145px;
        }
        
        ul.nav-footer>li {
            border-color: rgb(81, 81, 84);
            border-left: solid 1px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: inline;
        }
        
        ul.nav-footer>li:first-child {
            border-left: transparent;
        }
        
        footer>p {
            font-size: medium;
        }